In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [10]:
df=pd.read_csv('https://raw.githubusercontent.com/eijaz1/Deep-Learning-in-Keras-Tutorial/master/data/hourly_wages_data.csv',sep=',')

In [6]:
df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 10 columns):
wage_per_hour     534 non-null float64
union             534 non-null int64
education_yrs     534 non-null int64
experience_yrs    534 non-null int64
age               534 non-null int64
female            534 non-null int64
marr              534 non-null int64
south             534 non-null int64
manufacturing     534 non-null int64
construction      534 non-null int64
dtypes: float64(1), int64(9)
memory usage: 41.8 KB

In [12]:
df.isna().any()

wage_per_hour     False
union             False
education_yrs     False
experience_yrs    False
age               False
female            False
marr              False
south             False
manufacturing     False
construction      False
dtype: bool

In [13]:
df.shape

(534, 10)

In [14]:
X=df.drop(columns=['wage_per_hour'])

In [16]:
#create a dataframe with only the target column
y = df[['wage_per_hour']]

#view dataframe
y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

In [17]:
#keras

In [18]:
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

Using TensorFlow backend.

In [23]:
model = Sequential()
#get number of columns in training data
n_cols = X.shape[1]
n_cols  #no of features

9

In [24]:
#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))  #regression

In [26]:
#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_squared_error')

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)

In [49]:
model.fit(X,y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 103us/step - loss: 18.2543 - val_loss: 31.8518
Epoch 2/30
427/427 [==============================] - 0s 96us/step - loss: 18.2661 - val_loss: 31.4192
Epoch 3/30
427/427 [==============================] - 0s 108us/step - loss: 18.4955 - val_loss: 32.8580
Epoch 4/30
427/427 [==============================] - 0s 101us/step - loss: 18.5237 - val_loss: 31.0450
Epoch 5/30
427/427 [==============================] - 0s 98us/step - loss: 18.3052 - val_loss: 33.3908
Epoch 6/30
427/427 [==============================] - 0s 98us/step - loss: 18.1342 - val_loss: 31.4181
Epoch 7/30
427/427 [==============================] - 0s 80us/step - loss: 18.0705 - val_loss: 31.9684

In [32]:

#create model
model_mc = Sequential()

#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_squared_error')

In [55]:
model_mc.fit(X, y, validation_split=0.2, epochs=20, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/20
427/427 [==============================] - 0s 209us/step - loss: 17.3227 - val_loss: 32.6241
Epoch 2/20
427/427 [==============================] - 0s 131us/step - loss: 16.9714 - val_loss: 30.4903
Epoch 3/20
427/427 [==============================] - 0s 446us/step - loss: 16.6880 - val_loss: 29.5299
Epoch 4/20
427/427 [==============================] - 0s 246us/step - loss: 16.8109 - val_loss: 31.9128
Epoch 5/20
427/427 [==============================] - 0s 536us/step - loss: 16.5586 - val_loss: 35.6759
Epoch 6/20
427/427 [==============================] - 0s 442us/step - loss: 17.9290 - val_loss: 35.1880

In [51]:
pred1=model.predict(X)

In [52]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y,pred1)

20.81055123827525

In [56]:
pred2=model_mc.predict(X)

In [57]:
mean_squared_error(y,pred2)

21.309073196393463

In [59]:
from sklearn.metrics import mean_absolute_error as mae

In [60]:
mae(y,pred1)

3.215288851859418

In [61]:
mae(y,pred2)

3.04853446388066

NameError: name 'l' is not defined